In [7]:
import pandas as pd

In [8]:
with open('./data/sample_submission.csv') as file:
    df_sub = pd.read_csv(file)
with open('./data/test.csv') as file:
    df_test = pd.read_csv(file)

In [15]:
df_sub.sample(n=10, random_state=2)

        id  target
928   3063       0
1948  6574       0
507   1659       0
1413  4652       0
1726  5823       0
2237  7455       0
194    627       0
2814  9354       0
2131  7127       0
924   3040       0

In [17]:
df_test.sample(10, random_state=32)

,id,keyword,location,text
2092,7020,mayhem,"The Woodlands, TX",Slayer at Rockstar Mayhem Festival #slayer #me...
2708,9017,stretcher,Lakerland,He's about to leave on a stretcher.
2836,9413,survivors,"Bangkok, Thailand.",As Anniversary Nears Atomic Bomb Survivors Spe...
2527,8427,sandstorm,USA,Watch This Airport Get Swallowed Up By A Sands...
96,324,annihilated,NaN,@NinaHoag - 'if you shred my Psych work our fr...
1499,4994,explosion,NaN,I liked a @YouTube video from @shawlarmedeai h...
1051,3449,derail,"w/ @_ridabot, probably",@PumpkinMari_Bot lemme just derail this real q...
1708,5768,forest%20fires,"Kruibeke, BelgiÌÇ",'People come and go. Some are cigarette breaks...
261,850,bioterror,"Washington, D.C., area",Latest fallout from biolab safety lapses: FedE...
3140,10425,whirlwind,"Springfield, MO",{{ whirlwind romance dress | in-store &amp; on...